################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdvancedBanConverter/obj
/AdvancedBanConverter/bin/Debug/netcoreapp3.1
